<!DOCTYPE HTML>
<html ng-app="register">
<head>
<meta charset="utf-8">
<title>Register</title>
<script src="angular.js"></script>
<script src="angular-cookies.js"></script>
<script src="errmsg.js"></script>
<script src="register.js"></script>
<link rel="stylesheet" type="text/css" href="global.css">
</head>

<body ng-controller="register_ctrl" onload="on_load()">
	<div class="content">
		<!--<div class="search">-->
			<!--<span>輸入工號或姓名：</span>-->
			<!--<input id="input" class="textfield" type="text" ng-model="input" ng-change="query_employee()" onchange="on_change(this)">-->
		<!--</div>-->
	<div class="content" ng-show="register_done_hasdata">
		<h3>註冊成功</h3>
		<table class="hasdata">
			<tr>
				<th>維護人</th><th>產品型號</th><th>平台</th><th>IP</th><th>MAC</th><th>帳號</th><th>密碼</th>
			</tr>
			<tr ng-repeat="camera in cameras" ng-class-odd="" ng-class-even="'even'">
				<td>{{camera.maintainer}}</td><td>{{camera.modelname}}</td><td>{{camera.platform}}</td><td>{{camera.ip}}</td><td>{{camera.macaddr}}</td><td>{{camera.account}}</td><td>{{camera.passwd}}</td>
			</tr>
		</table>
	</div>

		<!--<form action="/ynm/register/" method="post" enctype="multipart/form-data">-->
		<form ng-show="register_hasdata" ng-submit="submit_form()">
			<table>
				<tr>
					<td>
					維護人:
					</td>
					<td>
						<input id="maintainer" maxlength="16" name="maintainer" ng-model="camera.maintainer" type="text"> 
					</td>
				</tr>
				<tr>
					<td>
					產品型號:
					</td>
					<td>
						<input id="modelname" maxlength="16" name="modelname" ng-model="camera.modelname" type="text"> 
					</td>
				</tr>
				<tr>
					<td>
					平台:
					</td>
					<td>
						<select id="platform" name="platform" ng-init="camera.platform=1" ng-model="camera.platform"> 
							<option value=1>Rossini</option>
							<option value=2>Hisillicon Standard</option>
							<option value=3>Hisillicon Speeddome</option>
					</td>
				</tr>
				<tr>
					<td>
					IP Address:
					</td>
					<td>
						<input id="ip" maxlength="16" name="ip" ng-model="camera.ip" type="text"> 
					</td>
				</tr>
				<tr>
					<td>
					MAC:
					</td>
					<td>
						<input id="macaddr" maxlength="16" name="macaddr" ng-model="camera.macaddr" type="text"> 
					</td>
				</tr>
				<tr>
					<td>
					帳號:
					</td>
					<td>
						<input id="account" maxlength="16" name="account" ng-model="camera.account" type="text"> 
					</td>
				</tr>
				<tr>
					<td>
					密碼:
					</td>
					<td>
						<input id="passwd" maxlength="16" name="passwd" ng-model="camera.passwd" type="text"> 
					</td>
				</tr>
			</table>
			<input type="submit" value="Upload">
		</form>
	</div>
	<div class="footer">
	</div>
</body>
