<!DOCTYPE HTML>
<html ng-app="register">
<head>
<meta charset="utf-8">
<title>Register</title>
<script src="angular.js"></script>
<script src="angular-cookies.js"></script>
<script src="errmsg.js"></script>
<script src="register.js"></script>
<link rel="stylesheet" type="text/css" href="global.css">
</head>

<body ng-controller="register_ctrl" onload="on_load()">
	<div class="content">
		<!--<div class="search">-->
			<!--<span>輸入工號或姓名：</span>-->
			<!--<input id="input" class="textfield" type="text" ng-model="input" ng-change="query_employee()" onchange="on_change(this)">-->
		<!--</div>-->

		<form action="/ynm/register/" method="get" enctype="multipart/form-data">
			<table>
				<tr>
					<td>
					維護人:
					</td>
					<td>
						<input id="id_camera_maintainer" maxlength="16" name="maintainer" type="text"> 
					</td>
				</tr>
				<tr>
					<td>
					產品型號:
					</td>
					<td>
						<input id="id_model_name" maxlength="16" name="modelname" type="text"> 
					</td>
				</tr>
				<tr>
					<td>
					MAC Address:
					</td>
					<td>
						<input id="id_mac_addr" maxlength="16" name="macaddr" type="text"> 
					</td>
				</tr>
			</table>
			<input type="submit" value="Upload">
		</form>

		<!--<div ng-repeat="e in employees" class="group" ng-show="hasdata">-->

			<!--<div id="prizedata">-->
				<!--<span ng-hide="e.prizes">無中獎資料</span>-->
				<!--<table class="hasdata" ng-show="e.prizes">-->
					<!--<tr>-->
						<!--<th>獎次</th><th>類別</th><th>名稱</th><th>現場領？</th><th>已領取？</th>-->
					<!--</tr>-->
					<!--<tr ng-repeat="p in e.prizes" ng-class-odd="" ng-class-even="'even'">-->
						<!--<td>{{p.serial}}</td><td>{{p.phase}}</td><td>{{p.name}}</td><td class="marker"><span ng-show="p.onsite">◎</span></td>-->
						<!--<td>-->
							<!--<span ng-show="p.onsite">{{p.receiving_status}}</span>-->
							<!--<input type="button" ng-show="receivable(p)" value="領取" ng-click="submit_queue(p)" ng-disabled="p.is_sync"></input>-->
							<!--<span class="error" ng-show="p.errmsg">{{p.errmsg}}</span>-->
							<!--<span class="success" ng-show="p.is_sync">已加入佇列{{p.queue_id}}</span>-->
						<!--</td>-->
					<!--</tr>-->
				<!--</table>-->
			<!--</div>-->
		<!--</div>-->

	</div>
	<div class="footer">
	</div>
</body>
